# Archivos de configuración con credenciales
config.js
env.local.js

# Variables de entorno
.env
.env.local

# Node modules (si usas npm)
node_modules/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/

